---
// Import the BaseLayout component from the layouts directory. This component is likely used as a wrapper for the page, providing consistent structure and styling.
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
// Define an array of objects named 'features'. Each object represents a feature of your platform or product,
// including properties for title, background image URL, description, background color, and title hover color.
const features = [
  {
    title: " Experience",
    bgImage:
      "https://i.pinimg.com/736x/2b/74/7b/2b747b71b782a8833f2b3ad9b0e37cd1.jpg",
    description: "Crafting an effortless journey with user-first.",
    bgColor: "bg-base-50", // Background color class for Tailwind CSS.
    titleColor: "group-hover:text-accent-500", // Tailwind CSS class for text color change on group hover.
  },
  {
    title: " Interaction",
    bgImage:
      "https://i.pinimg.com/564x/3c/c2/6c/3cc26c0140c2f0dc70d8aa48416c41dc.jpg",
    description: "Our platform is designed for simplicity and ease.",
    bgColor: "bg-base-50", // Background color class for Tailwind CSS.
    titleColor: "group-hover:text-indigo-400", // Tailwind CSS class for text color change on group hover.
  },
  {
    title: " Design",
    bgImage:
      "https://i.pinimg.com/564x/fa/4f/cf/fa4fcfd2db636f98eb0f2b5aecce0c28.jpg",
    description: "Our design philosophy centers around the user.",
    bgColor: "bg-base-50", // Background color class for Tailwind CSS.
    titleColor: "group-hover:text-cyan-400", // Tailwind CSS class for text color change on group hover.
  },
  // Additional feature objects...
];
---

<BaseLayout>
  <section>
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-a-dynamic-feature-grid-with-astrojs-and-tailwind-css/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/simplified-cards/index.astro"
    />
    <Wrapper class="py-24">
      <!-- Starts component -->
      <div class="grid grid-cols-1 gap-2 md:grid-cols-3" role="list">
        {
          features.map((feature, index) => (
            <>
              <article
                class="relative mx-auto bg-center bg-cover  min-h-150 transform duration-500 hover:-translate-y-12 group"
                style={`background-image: url('${feature.bgImage}');`}
              >
                <div
                  class={`${feature.bgColor} relative h-full group-hover:bg-opacity-0 min-h-150  flex flex-wrap flex-col pt-[30rem] hover:bg-opacity-75 transform duration-300`}
                >
                  <div
                    class={` ${feature.bgColor} p-8 h-full justify-end flex flex-col`}
                  >
                    <h1
                      class={`text-white mt-2 text-xl mb-5 transform  translate-y-20 uppercase group-hover:translate-y-0 duration-300 ${feature.titleColor}`}
                    >
                      {String(index + 1).padStart(2, "0") + "⏤"} {feature.title}
                    </h1>
                    <p class="text-xl text-white opacity-0 group-hover:opacity-80 transform duration-500 ">
                      {feature.description}
                    </p>
                  </div>
                </div>
              </article>
            </>
          ))
        }
      </div>
      <!-- ends component -->
    </Wrapper>
  </section>
</BaseLayout>
