---
// Import BaseLayout
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
import {
  generateArticleSchema,
  generateBreadcrumbSchema,
  generateHowToSchema,
} from "@/utils/jsonLd";
// Defining arrays to avoid writing the same code again.
// You can use your own system
// SEO Configuration
const seoConfig = {
  title: "Create Multicolumn Layout with Tailwind CSS",
  description:
    "Learn to build multicolumn layout components using Tailwind CSS. Includes responsive design and modern styling.",
  canonical: "/multicolumn-layout",
  jsonLd: [
    generateArticleSchema({
      title: "Create Multicolumn Layout with Tailwind CSS",
      description:
        "Learn to build multicolumn layout components using Tailwind CSS. Includes responsive design and modern styling.",
      url: "/multicolumn-layout",
      datePublished: "2025-10-01T06:26:58.392Z",
      dateModified: "2025-10-01T06:26:58.392Z",
      keywords: [
        "Tailwind CSS",
        "Multicolumn Layout",
        "Tutorial",
        "Web Development",
      ],
    }),
    generateBreadcrumbSchema([
      { name: "Home", url: "/" },
      {
        name: "Create Multicolumn Layout with Tailwind CSS",
        url: "/multicolumn-layout",
      },
    ]),
    generateHowToSchema({
      name: "Create Multicolumn Layout with Tailwind CSS",
      description:
        "Learn to build multicolumn layout components using Tailwind CSS. Includes responsive design and modern styling.",
      totalTime: "PT20M",
      steps: [
        {
          name: "Set up HTML structure",
          text: "Create the base component container and elements",
        },
        {
          name: "Add interactivity",
          text: "Initialize state management and event handlers",
        },
        {
          name: "Style with Tailwind CSS",
          text: "Apply utility classes for responsive layout",
        },
        {
          name: "Add accessibility features",
          text: "Implement ARIA attributes and keyboard navigation",
        },
        {
          name: "Test the component",
          text: "Verify functionality across browsers and devices",
        },
      ],
    }),
  ],
};

const blogEntries = [
  {
    title: "The Future of Web Development",
    excerpt:
      "Explore the latest trends and predictions in the web development landscape.",
    date: "Jan 12",
  },
  {
    title: "Top 10 JavaScript Frameworks in 2024",
    excerpt:
      "A comprehensive comparison of the most popular JavaScript frameworks.",
    date: "Jan 18",
  },
  {
    title: "Designing for Accessibility",
    excerpt: "How to make your websites more accessible to everyone.",
    date: "Jan 24",
  },
  {
    title: "The Rise of Astro",
    excerpt:
      "Discover how Astro is changing the game for static site generation.",
    date: "Feb 1",
  },
  {
    title: "SEO Myths Busted",
    excerpt: "Uncover the truth behind common SEO misconceptions.",
    date: "Feb 10",
  },
  {
    title: "Building a Full Stack App with Astro",
    excerpt:
      "Step-by-step guide to creating a full stack application using Astro.",
    date: "Feb 15",
  },
  {
    title: "Mobile-First Design in 2024",
    excerpt: "Why mobile-first design remains crucial for online success.",
    date: "Feb 22",
  },
  {
    title: "Using Tailwind CSS for Rapid UI Development",
    excerpt: "Speed up your design process with utility-first CSS.",
    date: "Mar 2",
  },
  {
    title: "Astro and Content Management",
    excerpt: "Best practices for managing content in Astro-powered websites.",
    date: "Mar 10",
  },
  {
    title: "Optimizing Site Performance",
    excerpt:
      "Tips and tricks to speed up your website for better user experience.",
    date: "Mar 18",
  },
];
const tableOfContents = [
  { id: "understanding-semantic-tags", title: "Understanding semantic tags" },
  { id: "benefits-of-semantic-tags", title: "Benefits of semantic tags" },
  {
    id: "common-semantic-tags-and-their-usage",
    title: "Common semantic tags and their usage",
  },
  {
    id: "practical-implementation-tips",
    title: "Practical implementation tips",
  },
  { id: "conclusion", title: "Conclusion" },
];
---

<BaseLayout seo={seoConfig}>
  <!-- Starts component -->
  <div>
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-a-multi-column-layout-with-tailwind-css"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/multicolumn-layout/index.astro"
    />
    <!-- Sidebar Navigation for Blog Entries (Starts hidden and becomes visible on larger screens) -->
    <div
      class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col"
    >
      <!-- This div will hold the navigation and is set to scroll if content overflows -->
      <div class="overflow-y-auto border-r border-base-200">
        <!-- Navigation for the blog entries list -->
        <nav class="flex flex-col flex-1">
          <ul role="list" class='border-base-200"border-b' divide-y">
            <!-- Mapping through the blog entries to display them in the sidebar -->
            {
              blogEntries.map((entry) => (
                <li class="bg-white ">
                  <div class="relative flex items-start p-4 space-x-3 group">
                    <div class="flex-1 min-w-0">
                      <div class="text-sm font-medium text-black leading-6 hover:text-accent-400">
                        <a href="#" class="flex flex-col w-full gap-2">
                          <div class="text-xs font-normal  up text-zinc-400">
                            {entry.date}
                          </div>
                          <span class="uppercase">{entry.title}</span>
                        </a>
                      </div>
                      <p class="mt-5 text-xs text-zinc-400">{entry.excerpt}</p>
                    </div>
                  </div>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
    </div>
    <!-- Sidebar Navigation for Blog Entries (Ends) -->
    <!-- Main Content Area (Gets pushed to the right on larger screens where sidebar is visible) -->
    <main class="bg-white lg:pl-72">
      <!-- Right padding for the main content to make room for the TOC on the largest screens -->
      <div class="xl:pr-96">
        <!-- Padding and margin handling for the main content area -->
        <div class="px-4 py-10 lg:py-32 sm:px-6 lg:px-8 xl:px-12">
          <!-- Main blog post content -->
          <div
            class="mx-auto text-black prose 2xl:prose-2xl max-w-none 2xl:max-w-screen-xl prose-headings:text-black prose-headings:font-normal prose-p:text-zinc-400 prose-strong:text-black"
          >
            <h1>The power of HTML semantic tags</h1>
            <div class="pb-5 border-b border-base-200">
              <div
                class="inline-flex items-center justify-between w-full font-mono text-xs text-black uppercase"
              >
                <span>Fri Aug 11 2023</span>
                <span>Author - Michael Andreuzza</span>
              </div>
            </div>
            <img
              class="w-full h-64 2xl:h-[30rem] border-base-200 border object-cover object-top"
              src="https://i.pinimg.com/originals/70/65/4f/70654fd75f2991e168ec22b75fdbd6a5.gif"
              alt=""
            />
            <div class="mt-12">
              <p>
                In the ever-evolving landscape of web development, creating
                websites that are not only visually appealing but also
                well-structured and accessible is crucial. HTML (Hypertext
                Markup Language) provides a set of semantic tags that play a
                pivotal role in achieving these goals. Semantic tags allow
                developers to describe the meaning and purpose of different
                parts of a webpage, making it easier for both browsers and
                assistive technologies to understand and present the content
                accurately. In this blog post, we’ll delve deep into HTML
                semantic tags, exploring their significance, benefits, and
                practical implementation.
              </p>
              <h2 id="understanding-semantic-tags">
                Understanding semantic tags
              </h2>
              <p>
                Semantic tags are HTML elements that carry a specific meaning,
                beyond just the visual presentation. These tags provide context
                and convey the purpose of the content they encapsulate. Unlike
                non-semantic tags like <code>&lt;div&gt;</code> and <code
                  >&lt;span&gt;</code
                >, which are used mainly for styling and layout, semantic tags
                enhance the structural integrity and accessibility of a webpage.
              </p>
              <h2 id="benefits-of-semantic-tags">Benefits of semantic tags</h2>
              <ol>
                <li>
                  <p>
                    <strong>Improved Accessibility</strong>: Semantic tags
                    greatly enhance web accessibility by providing a clear and
                    organized structure to the content. Screen readers and other
                    assistive technologies rely on these tags to convey accurate
                    information to users with disabilities, enabling them to
                    navigate and understand the webpage effectively.
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Search Engine Optimization (SEO)</strong>: Search
                    engines utilize semantic tags to understand the content of a
                    webpage better. Properly structured content using semantic
                    tags can positively impact SEO, making it easier for search
                    engines to index and rank your website.
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Maintenance and Styling</strong>: Semantic tags
                    offer a more logical structure to your codebase. This makes
                    it easier to maintain and update the website over time.
                    Additionally, because semantic tags carry inherent meaning,
                    they can reduce the reliance on class and ID attributes for
                    styling purposes.
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Future-Proofing</strong>: As the web continues to
                    evolve, new devices and technologies may emerge. By using
                    semantic tags, you’re ensuring that your content remains
                    adaptable and interpretable across different platforms.
                  </p>
                </li>
              </ol>
              <h2 id="common-semantic-tags-and-their-usage">
                Common semantic tags and their usage
              </h2>
              <ol>
                <li>
                  <p><strong></strong></p><header>
                    : The <code>&lt;header&gt;</code> tag represents the introductory
                    content of a section or a page. It typically contains the website’s
                    logo, navigation menu, and possibly a heading. This tag aids
                    in structuring the top portion of your webpage.<p></p>
                  </header>
                </li>
                <li>
                  <p><strong></strong></p><nav>
                    : The <code>&lt;nav&gt;</code> tag is used to define navigation
                    links within your website. By wrapping navigation links in this
                    tag, you provide context to assistive technologies, making it
                    clear that these links are part of the site’s navigation.<p>
                    </p>
                  </nav>
                </li>
                <li>
                  <p><strong></strong></p><main>
                    : The <code>&lt;main&gt;</code> tag encapsulates the main content
                    of your webpage. It should be unique to the page and should not
                    include repeated content such as headers or footers.<p></p>
                  </main>
                </li>
                <li>
                  <p><strong></strong></p><article>
                    : The <code>&lt;article&gt;</code> tag represents a standalone
                    piece of content that could be distributed and understood independently
                    from the rest of the page. This could include blog posts, news
                    articles, or forum posts.<p></p>
                  </article>
                </li>
                <li>
                  <p><strong></strong></p><section>
                    : The <code>&lt;section&gt;</code> tag defines a thematic grouping
                    of content within your webpage. It helps to logically divide
                    your content into different sections, making it easier to understand
                    the hierarchy.<p></p>
                  </section>
                </li>
                <li>
                  <p><strong></strong></p><aside>
                    : The <code>&lt;aside&gt;</code> tag is used to mark content
                    that is tangentially related to the main content. This could
                    include sidebars, pull quotes, or advertisements.<p></p>
                  </aside>
                </li>
                <li>
                  <p><strong></strong></p><footer>
                    : The <code>&lt;footer&gt;</code> tag represents the closing
                    section of a page. It often contains copyright information, contact
                    details, and links to relevant pages.<p></p>
                  </footer>
                </li>
              </ol>
              <h2 id="practical-implementation-tips">
                Practical implementation tips
              </h2>
              <ol>
                <li>
                  <p>
                    <strong>Choose Semantics Wisely</strong>: Always prioritize
                    the appropriate semantic tag over a non-semantic one. For
                    instance, use <code>&lt;article&gt;</code> for a blog post rather
                    than a <code>&lt;div&gt;</code>.
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Avoid Overusing Divs</strong>: While <code
                      >&lt;div&gt;</code
                    > elements are versatile, try to use them sparingly for layout
                    purposes. Instead, use semantic tags to structure your content
                    whenever possible.
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Maintain Hierarchy</strong>: Use semantic tags in a
                    hierarchical manner. For instance, use a <code
                      >&lt;header&gt;</code
                    > inside your <code>&lt;body&gt;</code>, and within your <code
                      >&lt;header&gt;</code
                    >, you might have a <code>&lt;nav&gt;</code>.
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Test Accessibility</strong>: Regularly test your
                    webpage’s accessibility using screen readers and
                    accessibility tools to ensure that the semantic tags are
                    providing the intended information to users with
                    disabilities.
                  </p>
                </li>
              </ol>
              <h2 id="conclusion">Conclusion</h2>
              <p>
                HTML semantic tags are more than just tools for styling; they
                are powerful aids for structuring your webpage and enhancing its
                accessibility. By using semantic tags, you create a more
                meaningful and well-organized web presence that benefits not
                only users but also search engines and assistive technologies.
                In an era where user experience and inclusivity are paramount,
                embracing semantic tags is a fundamental step towards creating a
                better digital landscape for everyone. So, as you embark on your
                web development journey, remember the significance of semantic
                tags and let them guide you towards a more robust and accessible
                website.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Main Content Area (Ends) -->
    <!-- Table of Contents (TOC) Section (Visible on extra-large screens) -->
    <aside
      class="fixed inset-y-0 right-0 hidden px-4 py-10 overflow-y-auto bg-white border-l border-base-200 w-96 sm:px-6 lg:px-8 xl:block"
    >
      <!-- Navigation for the table of contents -->
      <nav aria-label="Table of contents">
        <h2 class="text-black">Table of Contents</h2>
        <ul class="mt-4 prose prose-sm">
          <!-- Mapping through the table of contents to create links to the different sections of the blog post -->

          {
            tableOfContents.map((section) => (
              <li>
                <a
                  href={`#${section.id}`}
                  class="text-black hover:text-accent-800"
                >
                  {section.title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </aside>
    <!-- Table of Contents (TOC) Section (Ends) -->
  </div>
  <!-- Ends component -->
</BaseLayout>
