---
import BaseLayout from "@/layouts/BaseLayout.astro";

const tailwind = [
  {
    url: "/animated-images",
    title: "How to create animated image cards with Tailwind CSS and Astrojs",
  },
  {
    url: "/simplified-cards",
    title: "How to create a dynamic feature grid with Astrojs and Tailwind CSS",
  },
  {
    url: "/sticky-changelog",
    title:
      "How to create a sticky changelog component with Tailwind CSS and Astrojs",
  },
  {
    url: "/multicolumn-layout",
    title: "How to create a multicolumn layout with Tailwind CSS",
  },
  {
    url: "/invoice",
    title: "How to create and print an invoice with Astrojs and Tailwind CSS ",
  },
  {
    url: "/animated-blog-cards",
    title: "How to creating animated blog cards with Astrojs and Tailwind CSS ",
  },
  {
    url: "/simplified-markup",
    title:
      "How to simplify your code and avoid repeating your markup with Astrojs and Tailwind CSS",
  },
  {
    url: "/three-d-button",
    title: "How to create a 3d button with Tailwind CSS",
  },
  {
    url: "/expandable-gallery",
    title: "How to create a expandable image gallery with Tailwind CSS",
  },
  {
    url: "/swatch-clock",
    title: "How to create a swatch clock with Tailwind CSS",
  },
  {
    url: "/animated-card-background",
    title: "How to create a card with animated background with Tailwind CSS",
  },
  {
    url: "/animated-tailwind-loader",
    title: "How to create an animated loader with Tailwind CSS",
  },
  {
    url: "/animated-tailwind-envelope",
    title: "How to create an animated envelope with Tailwind CSS",
  },
  {
    url: "/animated-tailwind-profile-card",
    title: "How to create an animated profile card with Tailwind CSS",
  },
  {
    url: "/animated-tailwind-input",
    title: "How to create an animated input with Tailwind CSS",
  },
  {
    url: "/animated-tailwind-toggle",
    title: "How to create an animated toggle with Tailwind CSS",
  },
  {
    url: "/animated-background-gradient",
    title: "How to create an animated background gradient with Tailwind CSS",
  },
  {
    url: "/animated-expanding-search-bar",
    title: "How to create an animated expanding search bar with Tailwind CSS",
  },
  {
    url: "/bottom-navigation",
    title: "How to create a bottom navigation with Tailwind CSS",
  },
  {
    url: "/ribbon",
    title: "How to create a ribbon for a pricing card with Tailwind CSS",
  },
  {
    url: "/animated-avatar-widget",
    title: "How to create an animated avatar stack widget with Tailwind CSS",
  },
  {
    url: "/table",
    title: "How to create a responsive table with Tailwind CSS",
  },
  {
    url: "/multi-column-layout",
    title: "How to create a responsive multi-column layout with Tailwind CSS",
  },
  {
    url: "/calendar",
    title: "How to create a calendar layout with Tailwind CSS",
  },
  {
    url: "/sticky-footer",
    title: "How to create a sticky footer with Tailwind CSS",
  },
  {
    url: "/bento-grid",
    title: "How to create a bento grid with Tailwind CSS",
  },
  {
    url: "/flyout-menu-with-submenu",
    title: "How to create a flyout menu with submenu using only  Tailwind CSS",
  },
  {
    url: "/tailwind-modal",
    title: "How to create a JavaScript-free modal popup with only Tailwind CSS",
  },
  {
    url: "/tailwind-dissmissible-notification",
    title:
      "How to create a JavaScript-Free dismissible notification with only Tailwind CSS",
  },
  {
    url: "/tailwind-faq",
    title:
      "How to create a JavaScript-Free animated accordion faq section with only Tailwind CSS",
  },
];
const alpinejs = [
  {
    url: "/pricing-table",
    title:
      "How to create an interactive pricing table with Astro, Tailwind CSS, and Alpine JS",
  },
  {
    url: "/adaptable-navigation",
    title:
      "How to create adaptable-navigation with Astro, Tailwind CSS, and Alpine JS",
  },
  {
    url: "/alpine-sidebar",
    title: "How to create a sidebar navigation Tailwind CSS and and Alpine JS",
  },
  {
    url: "/intersection-observer",
    title:
      "How to animate objects with Tailwind CSS and Alpinejs intersection observer",
  },
  {
    url: "/alpine-modal",
    title:
      "How to create an animated log in modal  with Tailwind CSS and Alpine JS",
  },
  {
    url: "/alpine-testimonial",
    title:
      "How to create an interactive testimonial with Astrojs, Tailwind CSS and Alpine JS",
  },
  {
    url: "/flyout-menu",
    title:
      "How to create a flyout menu with Astrojs, Tailwind CSS and Alpinejs",
  },
  {
    url: "/cookie-banner",
    title:
      "How to create a dismissible cookie banner with Tailwind CSS and  Alpinejs ",
  },
  {
    url: "/tooltip",
    title: "How to create a tooltip Tailwind CSS and  Alpinejs ",
  },
  {
    url: "/change-on-scroll",
    title:
      "How to change background on scroll with Tailwind CSS and  Alpinejs ",
  },
  {
    url: "/tabs",
    title: "How to create a set of tabs with  Tailwind CSS and Alpinejs",
  },
  {
    url: "/theme-toggle",
    title: "How to create a dark mode toggle with Tailwind CSS and Alpinejs",
  },
  {
    url: "/tag-input",
    title: "How to create a tag input with Tailwind CSS and Alpinejs",
  },
  {
    url: "/auth-form",
    title: "How to create a Login/Register Form with Tailwind CSS and Alpinejs",
  },
  {
    url: "/progress-bar",
    title: "How to create a progress-bar with Tailwind CSS and Alpinejs",
  },
  {
    url: "/rating-system",
    title: "How to create a rating system with Tailwind CSS and Alpinejs",
  },
  {
    url: "/accordion",
    title: "How to create an accordion with Tailwind CSS and Alpinejs",
  },
  {
    url: "/image-gallery",
    title: "How to create a image gallery with Tailwind CSS and Alpinejs",
  },
  {
    url: "/scroll-to-top",
    title: "How to create a scroll to top with Tailwind CSS and Alpinejs",
  },
  {
    url: "/todo",
    title: "How to create a todo list with Tailwind CSS and Alpinejs",
  },
  {
    url: "/pricing-slider",
    title: "How to create a pricing slider with Tailwind CSS and Alpinejs",
  },
  {
    url: "/count-down",
    title: "How to create a countdown with Tailwind CSS and Alpinejs",
  },
  {
    url: "/drawer",
    title: "How to create a bottom drawer  with Tailwind CSS and Alpinejs",
  },
  {
    url: "/multistep",
    title: "How to create a multistep form with Tailwind CSS and Alpinejs",
  },
  {
    url: "/gridtoggle",
    title: "How to create a grid toggle  with Tailwind CSS and Alpinejs",
  },
  {
    url: "/carousel",
    title:
      "How to create a testimonial carousel  with Tailwind CSS and Alpinejs",
  },
  {
    url: "/search",
    title: "How to create a search input  with Tailwind CSS and Alpinejs",
  },
  {
    url: "/cart",
    title: "How to add items to your cart with Tailwind CSS and Alpinejs",
  },
  {
    url: "/contextualmenu",
    title: "How to creat a contextual menu  with Tailwind CSS and Alpinejs",
  },
  {
    url: "/chatbubble",
    title: "How to a create a chat bubble with Tailwind CSS and Alpinejs",
  },
  {
    url: "/alpine-persistent-tabs",
    title: "How to a create persistent tabs with Tailwind CSS and Alpinejs",
  },
  {
    url: "/alpine-password-strength-meter",
    title:
      "How to create a password strength meter with Tailwind CSS and Alpine JS",
  },
];
const javascript = [
  {
    url: "/pricing-table-toggle-with-javascript ",
    title:
      "How to create an interactive pricing table with Astro, Tailwind CSS, and JavaScript",
  },
  {
    url: "/animated-navigation-with-javascript ",
    title:
      "How to create an animated navigation with Astro, Tailwind CSS, and JavaScript",
  },
  {
    url: "/js-sidebar",
    title: "How to create a sidebar  with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-intersection-observer",
    title:
      "How to animate objects with Tailwind CSS and JavaScript intersection observer API",
  },
  {
    url: "/js-testimonial",
    title:
      "How to create an interactive testimonial with Astrojs, Tailwind CSS and JavaScript",
  },
  {
    url: "/js-flyout-menu",
    title:
      "How to create a flyout menu with Astrojs, Tailwind CSS and JavaScript",
  },
  {
    url: "/scroll-progress-bar",
    title:
      "How to a create a scroll progress bar with Tailwind CSS and Javascript",
  },
  {
    url: "/js-cookie-banner",
    title:
      "How to create a dismissible cookie banner with Tailwind CSS and  JavaScript",
  },
  {
    url: "/js-tooltip",
    title: "How to create a tooltip Tailwind CSS and  JavaScript ",
  },
  {
    url: "/js-change-on-scroll",
    title:
      "How to change background on scroll with Tailwind CSS and  JacaScript ",
  },
  {
    url: "/js-vertical-tabs",
    title: "How to create vertical tabs with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-theme-toggle",
    title: "How to create a dark mode toggle with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-tag-input",
    title: "How to create a tag input with Tailwind CSS and Alpinejs",
  },
  {
    url: "/js-auth-form",
    title:
      "How to create a Login/Register Form with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-progress-bar",
    title: "How to create a progress-bar with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-rating-system",
    title: " How to create a rating system with Tailwind CSS and  JavaScript",
  },
  {
    url: "/accordion-javascript",
    title:
      "How to create an accordion with Astro, Tailwind CSS, and JavaScript",
  },
  {
    url: "/js-image-gallery",
    title: "How to create a image gallery with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-scroll-to-top",
    title: "How to create a scroll to top with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-todo",
    title: "How to create a todo list with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-pricing-slider",
    title: "How to create a pricing slider with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-count-down",
    title: "How to create a countdown   with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-bottom-drawer",
    title: "How to create a bottom drawer with Tailwind CSS and JavaScript",
  },
  {
    url: "/multistep-js",
    title: "How to create a multistep form with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-gridtoggle",
    title: "How to create a grid toggle  with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-carousel",
    title:
      "How to create a testimonial carousel  with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-search",
    title: "How to create a search input  with Tailwind CSS and Alpinejs",
  },
  {
    url: "/js-cart",
    title: "How to add items to your cart with Tailwind CSS and JavaScript'",
  },
  {
    url: "/js-drag-and-drop",
    title: "How to create a drag and drop with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-chatbubble",
    title: "How to a create a chat bubble with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-color-picker",
    title: "How to a create a color picker  with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-infinite-scroll",
    title: "How to create infinite scrolling with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-persistent-tabs",
    title: "How to a create persistent tabs with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-password-strength-meter",
    title:
      "How to create a password strength meter with Tailwind CSS and Javascript",
  },
  {
    url: "/js-image-comparison-slider",
    title:
      "How to create an image comparison slider with Tailwind CSS and Javascript",
  },
  {
    url: "/js-skeleton-loading-screen",
    title:
      "How to create a skeleton loading screen with Tailwind CSS and Javascript",
  },
  {
    url: "/js-drawing-tool",
    title:
      "How to create a basic drawing tool and save it to png with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-combo-box",
    title: "How to create a basic command box with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-kanban-board",
    title:
      "How to create a basic basic kanban board with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-music-visualizer",
    title: "How to create a music visualizer with Tailwind CSS and JavaScript",
  },
  {
    url: "/js-lazy-loading-image-gallery",
    title:
      "How to build a lazy-loading image gallery with Tailwind CSS and JavaScript",
  },
   {
    url: "/js-virtual-keyboard",
    title:
      "How to build a virtual keyboard with Tailwind CSS and JavaScript",
  },
];
---

<BaseLayout>
  <section>
    <div
      class="items-center w-full px-5 py-24 mx-auto max-w-7xl flex flex-col justify-center">
      <div>
        <a
          class="text-lg text-black focus:outline-none focus:ring lg:text-2xl tracking-tight uppercase"
          href="https://lexingtonthemes.com/">
          <span
            class="items-center inline-flex gap-2 group font-normal lg:text-lg 2xl:text-2xl uppecase">
            <img
              class="size-8 rounded-full"
              src="https://www.michaelandreuzza.com/images/lexington.png"
              alt=""
            />
            Lexington tutorials
          </span>
        </a>
        <div
          class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3 mt-24">
          <div>
            <div
              class="prose text-gray-500 prose-sm prose-headings:font-normal prose-headings:text-xl mx-auto w-full">
              <h1>Tailwind</h1>
              <p class="text-balance">Tutorials made with only Tailwind CSS</p>
            </div>
            <dl class="flex flex-col mt-12 border-t pt-8 divide-y">
              {
                tailwind.reverse().map((template, index) => {
                  const reversedIndex = tailwind.length - index;
                  return (
                    <div class="py-4 inline-flex text-sm items-start gap-4">
                      <dt class="text-neutral-600 hover:text-orange-500 w-full">
                        <a
                          href={template.url}
                          class="inline-flex items-center">
                          {template.title}
                        </a>
                      </dt>
                      <dd class="order-first">
                        {String(reversedIndex).padStart(2, "0") + "."}
                      </dd>
                    </div>
                  );
                })
              }
            </dl>
          </div>
          <div>
            <div
              class="prose text-gray-500 prose-sm prose-headings:font-normal prose-headings:text-xl mx-auto w-full">
              <h1>Tailwind & Alpinejs</h1>
              <p class="text-balance">
                Tutorials made with only Tailwind CSS and Alpinejs
              </p>
            </div>
            <dl class="flex flex-col mt-12 border-t pt-8 divide-y">
              {
                alpinejs.reverse().map((template, index) => {
                  const reversedIndex = alpinejs.length - index;
                  return (
                    <div class="py-4 inline-flex text-sm items-start gap-4">
                      <dt class="text-neutral-500 hover:text-orange-500 w-full">
                        <a
                          href={template.url}
                          class="inline-flex items-center">
                          {template.title}
                        </a>
                      </dt>
                      <dd class="order-first">
                        {String(reversedIndex).padStart(2, "0") + "."}
                      </dd>
                    </div>
                  );
                })
              }
            </dl>
          </div>
          <div>
            <div
              class="prose text-gray-500 prose-sm prose-headings:font-normal prose-headings:text-xl mx-auto w-full">
              <h1>Tailwind & JavaScript</h1>
              <p class="text-balance">
                Tutorials made with only Tailwind CSS and JavaScript
              </p>
            </div>
            <dl class="flex flex-col mt-12 border-t pt-8 divide-y">
              {
                javascript.reverse().map((template, index) => {
                  const reversedIndex = javascript.length - index;
                  return (
                    <div class="py-4 inline-flex text-sm items-start gap-4">
                      <dt class="text-neutral-500 hover:text-orange-500 w-full">
                        <a
                          href={template.url}
                          class="inline-flex items-center">
                          {template.title}
                        </a>
                      </dt>
                      <dd class="order-first">
                        {String(reversedIndex).padStart(2, "0") + "."}
                      </dd>
                    </div>
                  );
                })
              }
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
