---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TutorialBanner from "@/components/global/TutorialBanner.astro";
// Components
import TutorialBanner from "@/components/global/TutorialBanner.astro";
const pricingPlans = [
  {
    name: "Starter Pack",
    link: "#_",
    monthlyPrice: "15",
    annualPrice: "8",
    description:
      "This plan is ideal for individual users and hobbyists who are looking for essential functionalities to support their projects.",
    cardBgClass: "bg-white",
    buttonClass: "text-black bg-base-50",
    features: ["5 mb/PDF", "75 pages/PDF", "10 messages/Day", "Up to 3 PDFs"],
    unavailableFeatures: ["Gpt-3.5-turbo model", "Test mode", "Doc summary"],
  },
  {
    name: "Silver Surfer",
    link: "#_",
    monthlyPrice: "25",
    annualPrice: "20",
    description:
      "If you're a small business or a startup, this plan is designed to cater to your needs. It offers a balance of essential features.",
    cardBgClass: "bg-white",
    buttonClass: "text-black bg-base-50 ",
    features: [
      "10 mb/PDF",
      "150 pages/PDF",
      "25 messages/Day",
      "Up to 5 PDFs",
      "Gpt-3.5-turbo model",
    ],
    unavailableFeatures: ["Test mode", "Doc summary"],
  },
  {
    name: "Golden Unicorn",
    link: "#_",
    monthlyPrice: "50",
    annualPrice: "40",
    description:
      "Tailored for medium-sized businesses, this plan offers advanced tools and features to support your growing demands.",
    cardBgClass: "bg-white",
    buttonClass: "text-black bg-base-50",
    features: [
      "32 mb/PDF",
      "1500 pages/PDF",
      "1000 messages/Day",
      "Up to 50 PDFs",
      "Gpt-3.5-turbo-16k model",
      "Test mode",
      "Doc summary",
    ],
    unavailableFeatures: [],
  },
];
---

<BaseLayout>
  <section class="relative overflow-hidden bg-base-50">
    <!-- Starts links to tutorial -->
    <TutorialBanner
      tutorialUrl="https://lexingtonthemes.com/tutorials/how-to-create-interactive-pricing-toggle-with-tailwind-css-and-javascript/"
      codeUrl="https://github.com/Lexington-Themes/lexington-tutorials/blob/main/src/pages/pricing-table-toggle-with-javascript/index.astro"
    />
    <!-- Ends links to tutorial -->
    <Wrapper class=" py-24 ">
      
      <div class="mx-auto w-fit ">
        <div
          class="inline-flex w-full border rounded-full mt-6 overflow-hidden border-white/20 p-0.5 z-0"
        >
          <button
            id="monthlyBtn"
            class="block w-full h-12 px-8 py-2 text-xs font-medium text-base-900 rounded-full transition bg-base-50"
          >
            Monthly
          </button>
          <button
            id="annualBtn"
            class="block w-full h-12 px-8 py-2 text-xs font-medium text-base-900 border-base-500 rounded-full transition"
          >
            Annual
          </button>
        </div>
      </div>
      <div class="mt-12 grid grid-cols-1 gap-2 lg:grid-cols-3 relative">
        {
          pricingPlans.map((plan) => (
            <div
              data-monthly-price={plan.monthlyPrice}
              data-annual-price={plan.annualPrice}
              class={`pricing-card flex flex-col justify-between p-8   rounded-3xl ${plan.cardBgClass} backdrop-blur-3xl `}
            >
              <div>
                <div class="flex flex-col justify-between gap-3">
                  <p class="text-xl font-medium tracking-tight text-base-900">
                    {plan.name}
                  </p>
                  <p class="text-bas-900">
                    <span class="text-2xl tracking-tight actualPrice">
                      <span>${plan.monthlyPrice}</span>
                      <span>${plan.annualPrice}</span>
                    </span>
                    <span class="text-base font-medium actualCycle">
                      /m
                      <span style="display: none;">( annually)</span>
                    </span>
                  </p>
                </div>
                <p class="mt-8 text-xs text-base-900/80">{plan.description}</p>
                <ul class="flex flex-col order-last mt-8 text-sm text-base-500 gap-y-3">
                  {plan.features.map((feature) => (
                    <li class="inline-flex items-center gap-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M9 12l2 2l4 -4" />
                      </svg>
                      {feature}
                    </li>
                  ))}
                  {plan.unavailableFeatures.map((feature) => (
                    <li class="inline-flex items-center opacity-50 gap-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-x"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M10 10l4 4m0 -4l-4 4" />
                      </svg>
                      {feature}
                    </li>
                  ))}
                </ul>
              </div>
              <div class="flex mt-6">
                <a
                  href={plan.link}
                  title={plan.name}
                  aria-label="get started"
                  class={`flex items-center justify-center w-full  h-12 px-4 py-2 text-base font-medium transition-all duration-200 rounded-xl ${plan.buttonClass}`}
                >
                  Get started
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
<script type="module">
  document.addEventListener("DOMContentLoaded", function () {
    const monthlyBtn = document.getElementById("monthlyBtn");
    const annualBtn = document.getElementById("annualBtn");
    monthlyBtn.addEventListener("click", toggleBillingCycle);
    annualBtn.addEventListener("click", toggleBillingCycle);
    function toggleBillingCycle() {
      const isAnnual = this.id === "annualBtn";
      const activeBtn = isAnnual ? annualBtn : monthlyBtn;
      const inactiveBtn = isAnnual ? monthlyBtn : annualBtn;
      activeBtn.classList.add("bg-black/50", "text-white");
      inactiveBtn.classList.remove("bg-black/50", "text-black");
      updatePricingDisplay(isAnnual);
    }
    function updatePricingDisplay(isAnnual) {
      const plans = document.querySelectorAll(".pricing-card");
      plans.forEach((plan) => {
        const priceElement = plan.querySelector(".actualPrice");
        const billingCycleElement = plan.querySelector(".actualCycle");
        const monthlyPrice = plan.dataset.monthlyPrice;
        const annualPrice = plan.dataset.annualPrice;
        priceElement.textContent = isAnnual ? annualPrice : monthlyPrice;
        billingCycleElement.textContent = isAnnual
          ? "(monthly billed annually)"
          : "/m";
      });
    }
    updatePricingDisplay(false);
  });
</script>
